<div class="text-layout">
    <h1>Pipes básicos </h1>
    <p>Pipes incluidos en el modulos de common module</p>
</div>
<div class="p-d-flex grid">
    <div class="col-4" style="border: 1px solid green; ">
        <p-card header="UpperCase" [subheader]="nombreLower | uppercase">
            Texto Original: {{nombreLower}} <br>
            Texto Con pipe: {{nombreLower | uppercase}}
            <br><br>
            Esto pasa por un pipe para modificar visualmente de cara al cliente
        </p-card>
    </div>
    <div class="col-4" style="border: 1px solid green; ">
        <p-card header="Lowercase" [subheader]="nombreUpper | lowercase">
            Texto Original: {{nombreUpper}} <br>
            Texto Con pipe: {{nombreUpper | lowercase}}
            <br><br>
            Esto pasa por un pipe para modificar visualmente de cara al cliente
        </p-card>
    </div>
    <div class="col-4" style="border: 1px solid green; ">
        <p-card header="Title Case" [subheader]="nombreCompleto | titlecase">
            Texto Original: {{nombreCompleto}} <br>
            Texto Con pipe: {{nombreCompleto | titlecase}}
            <br><br>
            Esto pasa por un pipe para modificar visualmente de cara al cliente
        </p-card>
    </div>
</div>
<div class="text-layout">
    <h1>Date y el uso de Pipe</h1>
    <p>Pipes Para mostrar fecha</p>
</div>
<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date: 'short'</li>
                <li>fecha | date: 'long'</li>
                <li>fecha | date: 'months'</li>
                <li>fecha | date: 'MMMM dd, yyyy'</li>
            </ul>

            <hr>
            <ul>
                <li>fecha | date :'long': 'GMT-6'</li>
                <li>fecha | date :'long': 'GMT-5'</li>
                <li>fecha | date :'long': 'GMT-4'</li>
                <li>fecha | date :'long': 'GMT-3'</li>
                <li>fecha | date :'long':'':'en'</li>
                <li>fecha | date :'long':'':'fr'</li>
            </ul>
        </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li>{{fecha}}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date :'short'}}</li>
                <li>{{fecha | date :'long'}}</li>
                <li>{{fecha | date :'MMMM'}}</li>
                <li>{{fecha | date :'MMMM dd, yyyy'}}</li>
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date :'long': 'GMT-6'}}</li>
                <li>{{fecha | date :'long': 'GMT-5'}}</li>
                <li>{{fecha | date :'long': 'GMT-4'}}</li>
                <li>{{fecha | date :'long': 'GMT-3'}}</li>
                <li>{{fecha | date :'long':'':'en'}}</li>
                <li>{{fecha | date :'long':'':'fr'}}</li>
                
            </ul>
        </p-card>
    </div>
    
</div>
