<div class="text-layout">

    <h1>{{nombre | titlecase}}</h1>
</div>



<button class="p-button-help" pButton (click)="mostrarNombre()" icon="pi pi-check" iconPos="right"
    label="Cambiar nombre">
</button>

<p-card [header]="nombre" subheader="Sub titulo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id veritatis placeat dolorum,
    quas itaque iste eveniet molestiae est nobis earum consectetur non accusamus modi temporibus quo,
    vel quod dolores numquam repellendus, alias laboriosam? Non obcaecati exercitationem corporis, praesentium cumque
    placeat.
    Consectetur neque officiis ratione nulla incidunt, eos exercitationem asperiores nisi?
</p-card>